@import './../../index.css';

.newColl{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 60px;
   margin: clamp(1.5rem, 3vw, 3.125rem) 0;
}

.newColl__info{
   width: 35%;


}


.slider{
   width: 60%;
   display: flex;
margin: 20px 0;
}

@media  (max-width: 600px){
   .newColl{
      display: block;
   }
   .newColl__info,
   .slider{
      width: 100%;
   }
   a{
      margin-bottom: 1em;
   }
}