@import '../../index.css';

.navigate{
   display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: var(--backg);
    width: 100vw;
    padding: 2vw 5vw;
 }
 
 
 .navigane__logo{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: var(--h-color, #1A1A1A);
    
 }
 
 .navigate__menu{
     display: flex;
     justify-content: space-between;
     gap: 2rem;
    font-weight: 400;
    line-height: 21px;
    color: var(--h-color);
    transition: all 1s ease-out;
 }
 .navigate__menu > li{
   padding: var(--padding);
   transition: all 0.6s ease-in;
 }
 .navigate__menu > li> a{
   z-index: 6;
   transition: all 0.3s ease-in;
 }

 .navigate__menu > li>a:hover{
   font-size: 20px;
   border-bottom: 2px solid  var(--h-color);
   transition: all 0.3s ease-in;
 }

 .navigate__menu>li.active>a{
   font-size: 20px;
   color: var(--green);
   border-bottom: 2px solid  var(--green);
   transition: all 0.3s ease-in;
 }
 .clousr_burger{
   display: none;
 }
 
 .navigate__login{
 
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    width: auto;
 }
 .navigate__btn{
 
    font-weight: 400;
    font-size: var(--size-font);
    line-height: 21px;
    padding: 12px 16px;
    /* margin-right: 10px; */
 /* background-color:#ECECEC; */
    border: none;
    border-radius: 4px;
 
   color: #1A1A1A;
    width: 100px;
 }
 
 .hedden,
 .openMenu{
   /* padding: 3px; */
   font-size: 30px;
   width: 50px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: var(--green);
   border-radius: 50%;
   cursor: pointer;
   /* display: none; */
 }
 .hedden{
   display: none;
 }
 
   @media (max-width: 870px) {
   
      .navigate__menu{
         display: block;
         width: 100vw;
         margin: 0 auto;
        
         background-color: var(--backg);
         position: absolute;
         top:0px;
         left:0px;
         transform: translate(0px, -150%);
      }

      .navigate__menu.activ{
         transform: translate(0px, 0%);
         transition: all 1s ease-out;
      }
      .navigate__menu > li{
         margin: 5vw;
         
      }

      .hedden{
         display: flex;
         justify-content: center;
         align-items: center;
       }
      
    }
    
    
  
 