@import '../../index.css';



.header{
   display: flex;
   justify-content: space-between;
   /* gap:40px; */
   margin-top: 5rem;
  
}

.header_info{
   width: 50vw;;
}

h1{
   font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: clamp(50px, 10vw, 72px);
line-height: clamp(50px, 10vw, 92px);
/* or 128% */


color: #1A1A1A;
}
.header_text{
   font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
/* or 26px */

margin-bottom: 40px;
color: #4A4A4A;
}

.info_list{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 40px;
}
.header_img{
   width: 50%;
}