@import '../../index.css';



.header{
   display: flex;
   justify-content: space-between;
   /* gap:40px; */
   margin-top: 40px;
}

h1{
   font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: clamp(50px, 10vw, 72px);
line-height: clamp(50px, 10vw, 92px);
/* or 128% */


color: #1A1A1A;
}
.header_text{
   font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
/* or 26px */

margin-bottom: 40px;
color: #4A4A4A;
}

.info_list{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 40px;
}

.info_title{
   font-family: 'Nunito';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 49px;

color: #001B04;
}
.info_descriptio{
   
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;

color: #1A1A1A;
}