@import './../../index.css';
.footer{
   margin-top: clamp(1.5rem, 8vw, 8rem);
   margin-bottom: 3.12rem;
   display: flex;
   justify-content: space-between;
   gap: 15vw;
}

.footer_info{
   width: 40vw;
}

.footer_logo,
.navigation_title{
   font-weight: 700;
   font-size: 1.5rem;
    line-height: 1.93rem;
    color: var(--h-color);
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.56rem;
}

.navigation_title>span{
   display: none;
}
.footer_text{
   font-weight: 400;
line-height: 160%;
color: var(--p-color);
margin-bottom: 1.56rem;
}
.footer_social{
   display: flex;
   gap:1rem;
   /* margin-bottom: 25px; */
}


.footer_navigation{
   width: 50vw;
   display: flex;
   justify-content: space-between;
   gap: 0.625rem;
}


.navigation>ul>li{
   font-weight: 400;
line-height: 1.31rem;
color: var(--p-color);
margin-bottom: 1rem;
}

@media (max-width:1100px){
   .footer{
      gap: 5vw;
   }
   .footer_navigation{
      padding-left: 15vw;
      display: block;
      width: 50vw;
      cursor: pointer;
   }
   .navigation_title>span{
      display: inline-block;
   }

   .navigation>ul{
      height: auto;
      overflow: hidden;
      transform: translateY(0);
      opacity: 1;
      transition: all 0.6s;
   }
   
   .navigation>ul.hidden{
      height: 0;
      transform: translateY(-100px);
      opacity: 0;
      transition: all 0.6s;
   }
   /* .navigation>ul{
      display: none;
   } */
   .footer_info{
      width: 50vw;
   }
}

@media (max-width:600px){
   .footer{
      display: block;
   }
   .footer_navigation,
   .footer_info{
      width: 100%;
      padding: 0.625rem;
   }
}