
 
 @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Nunito:wght@600;700&display=swap');

 /* width: clamp(10px, 4em, 80px); */
 :root{
   /* font-family: 'DM Sans', sans-serif; */
   /* font-family: 'Nunito', sans-serif; */
   --h-font: 'Nunito';
   --p-font: 'DM Sans';
   --h-color: #1A1A1A;
   --p-color:#4A4A4A;
   --green: #066F14;
   --light-green:#DFFFE3;
   --backg: #ECECEC;
   --size-font: 16px;
   --padding: 10px;

}
 *{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   text-decoration: none;
   list-style: none;
   color: var(--h-color)
 }

 html{
   background-color: var(--backg);
 }


.box{
   font-family: var(--p-font);
   color: var(--p-color);
   font-size: var(--size-font);
   padding:var(--padding);
  
}

.wrapper{
   width: clamp(200px, 90%, 1152px);
   margin: 0 auto;
   border:2px solid red;
   padding: var(--padding);
}
